<mat-card class="example-card">
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://www.pngrepo.com/png/384670/512/account-avatar-profile-user.png"
      alt=""
    />
    <mat-card-title>{{ recipe.user.fullName }}</mat-card-title>
    <mat-card-subtitle>{{recipe.title}}</mat-card-subtitle>
  </mat-card-header>
  <img
    class="max-h-[350px] object-conver"
    mat-card-image
    [src]="recipe.image"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      {{ recipe.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="flex justify-between">
    <div>
      

      <button
        (click)="handleOpenEditRecipeForm()"
        mat-icon-button
        aria-label="Example icon button with a home icon"
      >
        <mat-icon>edit</mat-icon>
      </button>

      
    </div>
    <div>
      <button (click)="handleDeleteRecipe()" mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
